{% load static %}
<!DOCTYPE html>
<html>
<head>
<!--    <title>Login Form</title>-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
    <style>
        h2 {text-align: center;}

    </style>
</head>
<body style="background-color:powderblue;">
    <h2>Registeration Form</h2><br>
    <center>
    <div  class="login">
    <form id="login" method="get" action="login.php">
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <label><b>Confirm Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Confirm Password">
        <br><br>
    </form>
    </div>
     <a href="{% url 'schulapp:log' %}" class="btn btn-info" role="button">Submit</a>
    </center>
</body>
</div>
</html>